.startbg{
    -fx-background-image: url("../images/sagrada_cover.png");
    -fx-background-size: 100% 100%;
}

.gamebg{
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 100% 100%;
}

.window1front{
    -fx-background-image: url("../images/windows/aurorae_magnificus.png");
    -fx-background-size: 100% 100%;
}

.window1back{
    -fx-background-image: url("../images/windows/bellesguard.png");
    -fx-background-size: 100% 100%;
}

.window2front{
    -fx-background-image: url("../images/windows/sun_catcher.png");
    -fx-background-size: 100% 100%;
}

.window2back{
    -fx-background-image: url("../images/windows/via_lux.png");
    -fx-background-size: 100% 100%;
}

